.header {
   background-color: black;
   padding: 50px;
   height: 20px;
}
button {
   border-radius: 25px;
}

table {
   width: 80%;
}
td {
   border-bottom: 1px solid #000000;
}
img {
   border-radius: 15px;
}